<accueil>
    <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="mb-1 text-center">Projet WIM - Covid19</h1>
                <h4 class="text-center">Alban STELZLE</h4>
        </div>
</accueil>