<recap>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <div class="container">

        <h4>Info covid : {new Date(props.data.date).toLocaleDateString()} </h4>
        <div class="row">
            <div class="col">
                <h5>Total :</h5>
                <ul>
                    <li class="text-primary fs-6">Cas :
                        {(props.data.all.globalstat[0].totalconfirmed).toLocaleString()}
                    </li>
                    <li class="text-danger fs-6">Morts : {(props.data.all.globalstat[0].totaldeaths).toLocaleString()}
                    </li>
                    <li class="text-success fs-6">Guéris :
                        {(props.data.all.globalstat[0].totalrecovered).toLocaleString()}
                    </li>
                </ul>
            </div>

            <div class="col end-0">
                <h5>Aujourd'hui :</h5>
                <ul>
                    <li class="text-primary fs-6">Cas : {(props.data.all.globalstat[0].newconfirmed).toLocaleString()}
                    </li>
                    <li class="text-danger fs-6">Morts : {(props.data.all.globalstat[0].newdeaths).toLocaleString()}
                    </li>
                    <li class="text-success fs-6">Guéris :
                        {(props.data.all.globalstat[0].newrecovered).toLocaleString()}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>

    </script>
</recap>